@import url('../components/css/subscription-cards.css');

@import url("GENERAL-LAYOUT.css");

body {
  background: #f5f6fb;
}

header {
  background: #1a1a1a;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
}

.header img {
  width: 160px;
}

.container {
    display: block;
}

.container h1 {
    text-align: center;
    margin: 50px 0 70px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 40px;
  padding: 0 60px 0;
}

.change-plan:hover {
  background-color: #cb5725;
}

.change-plan {
  background-color: #ff7439;
}

.current-plan {
    background-color: darkgray;
    cursor: default;
}

.buttons {
  margin-top: auto;
}

.buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 1px solid;
  border-radius: 12px;
  padding: 10px 10px 10px;
}