@import url('../../css/GENERAL-LAYOUT.css');

.pop-up-container {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pop-up-wrapper {
  display: flex;
  justify-content: center;
  background: #ffffff;
  width: 360px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.pop-up {
  justify-items: center;
}

.icon-wrapper {
  border-radius: 50%;
  background: #fff1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon img{
  width: 60px;
  height: 60px;
}

.message {
  font-size: large;
  margin-bottom: 20px;
}

button {
  height: 40px;
  width: 100px;
  background: #ff6a2a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

button:hover {
  background: #e85d21;
}
